#container {
  width: 100%;
  background-color: #3e5c76;
  height: 500px;
  display: flex;
  flex-direction: row;
  /* row,row-reverse,column,column-reverse*/
  /*justify-content: space-around;*/

  justify-content: flex-end;
  /*align-items: center;*/
  flex-wrap: wrap;
  /*align-content: flex-start;*/

}

#container div {
  width: 200px;
  height: 100px;
}

#container div:nth-of-type(3) {
  align-self: center;
}

#container2 {

  width: 100%;
  background-color: #3e5c76;
  height: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 100px;

}

#container2 div {
  width: 200px;
  height: 100px;
  flex-basis: 400px
}